{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="">Linux Club</a><button data-bs-toggle="collapse"
            class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">

            </ul><a href="./logout"><button class="btn btn-primary" type="button">Logout</button></a><span
                class="navbar-text actions"> </span>
        </div>
    </div>
</nav>
<section class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <style type="text/css">
                .tg {
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                .tg td {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg th {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg .tg-0lax {
                    text-align: left;
                    vertical-align: top
                }
            </style>
            <table class="tg">
                <thead>
                    <tr>
                        <th class="tg-0lax">NAME</th>
                        <th class="tg-0lax">REGISTER NUMBER</th>
                        <th class="tg-0lax">ATTENDANCE</th>
                        <th class="tg-0lax">MEAL TYPE</th>
                        <th class="tg-0lax">FOOD STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="tg-0lax">{{ r[0] }}</td>
                        <td class="tg-0lax">{{ r[1] }}</td>
                        <td class="tg-0lax">{{ r[2] }}</td>
                        <td class="tg-0lax">{{ r[3] }}</td>
                        <td class="tg-0lax">{{ r[4] }}</td>
                        <td class="tg-0lax">{{ r[5] }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <form method="post" action="/participant/{{ r[1] }}/">
            <input type="submit" class="btn btn-primary" value="MARK ATTENDANCE" name="action1" />
            <input type="submit" class="btn btn-primary" value="MARK FOOD STATUS" name="action2" />
        </form>

    </div>
</section>

{% endblock %}