{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="">Linux Club</a><button data-bs-toggle="collapse"
            class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">

            </ul><a href="./logout"><button class="btn btn-primary" type="button">LUG</button></a><span
                class="navbar-text actions"> </span>
        </div>
    </div>
</nav>
<section class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <p>ADMIN ACCESS ENABLED. NOW YOU CAN GO SCAN THE QR CODES.</p>
        </div>
</section>

{% endblock %}